.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.score p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2px;
}

.score span {
  font-size: 12px;
}
